.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 255, 255, 1);
}
#navbar{
    margin: 16px 130px;
}
#navbar .navbar-section .navbar-image{
    max-width: 139px;
}
#navbar .navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar .navbar-section .navbar-list li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    
}
#navbar .navbar-section .navbar-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
#navbar .navbar-section .navbar-list ul{
    display: flex;
    gap: 32px;
}
#navbar .navbar-section .navbar-button button{
    background-color: rgba(70, 145, 101, 1);
    color:  rgba(255, 255, 255, 1);
    border-style: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
}